<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>姚华祥的博客后台管理登录</title>
    <link rel="stylesheet" type="text/css" th:href="@{/manager/css/admin_login.css}"/>
</head>
<body>
    <div class="admin_login_wrap">
        <div class="adming_login_border">
            <div class="admin_input">
                <form th:action="@{/manager/index.html}" method="post">
                    <ul class="admin_items">
                        <li>
                            <label for="user">用户名：</label>
                            <input type="text" name="username" value="admin" id="user" size="40" class="admin_input_style" />
                        </li>
                        <li>
                            <label for="pwd">密码：</label>
                            <input type="password" name="pwd" value="admin" id="pwd" size="40" class="admin_input_style" />
                        </li>
                        <li>
                            <input type="submit" tabindex="3" value="登录" class="btn btn-primary" />
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</body>
</html>