<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>姚华祥的博客后台管理登录</title>
    <link rel="stylesheet" type="text/css" th:href="@{/manager/css/admin_login.css}"/>
</head>
<body>
    <div class="admin_login_wrap">
        <div class="adming_login_border">
            <div class="admin_input">
                <form  method="post" th:action="@{/manager/index.html}">
                    <ul class="admin_items">
                        <li>
                            用户名：<br>
                            <input type="text"  name="username"  size="40" class="admin_input_style" />
                        </li>
                        <li>
                           密码：<br>
                            <input type="password" name="password"  size="40" class="admin_input_style" />
                        </li>
                        <li>
                            <input type="checkbox" tabindex="3" name="remember" />记住我
                        </li>
                        <li>
                            <input type="submit" tabindex="3" value="登录" class="btn btn-primary" />
                        </li>

                    </ul>
                </form>
            </div>
        </div>
    </div>
</body>
</html>