<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>姚华祥的博客后台留言管理</title>
    <link rel="stylesheet" type="text/css" th:href="@{/manager/css/common.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/manager/css/main.css}"/>
</head>
<body>
<!--头部信息-->
<div th:replace="commons/managerCommons::topBar"></div>

<!--侧边栏-->
<div th:replace="commons/managerCommons::sideBar"></div>

<div class="main-wrap">
    <div class="result-wrap">
        <div class="result-title">
            <h1>

            </h1>
        </div>
    </div>
</div>
</body>
</html>