<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>详情-姚华祥的博客</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/res/layui/css/layui.css}">
	<link rel="stylesheet" th:href="@{/res/static/css/mian.css}">
</head>
<body class="lay-blog">
	<!--顶端部分-->
	<div th:replace="commons/blogCommons::topBar"></div>

	<div class="container-wrap">
		<div class="container container-message container-details">
			<div class="contar-wrap">
				<div class="item">
					<div class="item-box  layer-photos-demo1 layer-photos-demo">
						<h3 th:text="${blog.getTitle()}"></h3>
						<h5>发布于：<span th:text="${blog.getTime()}" ></span></h5>
						<p th:text="${blog.getContent()}"></p>
						<img th:src="@{/res/static/images/item.png}" alt="欢迎您，比心">
					</div>
				</div>
				<div class="comt layui-clear">
					<span  class="pull-left">评论</span>
					<a th:href="@{/comment.html(bid=${blog.getBid()})}" class="pull-right">写评论</a>
				</div>

				<div id="LAY-msg-box" th:each="comment:${comments}">
					<div class="info-item">
						<img class="info-img" th:src="@{/res/static/images/info-img.png}" alt="">
						<div class="info-text">
							<p class="info-intr" th:text="${comment.getContent()}"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--底面部分-->
	<div th:replace="commons/blogCommons::bottomBar"></div>

	<!--<script th:src="@{/res/layui/layui.js}"></script>
	<script>
		layui.config({
		  base: '../res/static/js/' 
		}).use('blog');
	</script>-->
</body>
</html>