<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>留言-姚华祥的博客</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/res/layui/css/layui.css}">
	<link rel="stylesheet" th:href="@{/res/static/css/mian.css}">
</head>
<body class="lay-blog">
	<!--顶端部分-->
	<div th:replace="commons/blogCommons::topBar"></div>

	<div class="container-wrap">
		<div class="container container-message">
			<div class="contar-wrap" id="contar-wrap">
				<div class="item-btn">
					<form class="layui-form" th:action="@{/message.html}" method="post">
						<div class="layui-form-item layui-form-text">
							<textarea  class="layui-textarea" id="LAY-msg-content" name="content" style="resize:none"></textarea>
						</div>
						<div>
							<input type="submit" class="layui-btn layui-btn-normal" id="item-btn" value="留言" />
						</div>
					</form>
				</div>

				<div id="LAY-msg-box" th:each="message:${messages}">
					<div class="info-box">
						<div class="info-item">
							<img class="info-img" th:src="@{/res/static/images/info-img.png}" >
							<div class="info-text">
								<p class="info-intr" th:text="${message.getContent()}"></p>
							</div>
						</div>
					</div>
				</div>

				<div id="test1" class="paging"></div>
			</div>
		</div>
	</div>

	<!--底面部分-->
	<div th:replace="commons/blogCommons::bottomBar"></div>

	<!--<script th:src="@{/res/layui/layui.js}"></script>

	<script>
		layui.config({
			base: '../res/static/js/'
		}).use('blog');
	</script>

	<script id="LAY-msg-tpl" type="text/html">
		<div class="info-box">
			<div class="info-item">
				<img class="info-img" src="{{ d.avatar }}" alt="">
				<div class="info-text">
					<p class="title">
						<span class="name">{{ d.username }}</span>
						<span class="info-img">
					  	<i class="layui-icon layui-icon-praise"></i>
					  	{{ d.praise }}
					 	</span>
					</p>
					<p class="info-intr">
						{{ d.content }}
					</p>
				</div>
			</div>
		</div>
	</script>-->

</body>
